{% extends "lib/lighting/physical.frag.jinja" %}
{% block uniforms %}
    {{ super() }}
{% endblock %}

{% block io %}
    {{ super() }}
{% endblock %}
{% block matAlbedo -%}
    return vec3(1.0, 0.05, 0.05);
{%- endblock %}
{% block matRoughness -%}
    return 0.5;
{%- endblock %}
